<%= form_for([:admin, @prototype, @page]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% if f.object.new_record? %>
    <%= f.fields_for :page_versions do |ff| %>
      <div class="field">
        <%= ff.label :image %><br />
        <%= ff.file_field :image %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
