<h2><%= @page.name %></h2>
<h3>
  Version <%= @page_version.version %>
  <% if @page_version.current? %>
    (Current)
  <% end %>
</h3>

<%= image_tag @page_version.image.url(:display) %>

<%= link_to 'Edit', edit_admin_prototype_page_path(@prototype, @page) %> |
<%= link_to 'Back', admin_prototype_pages_path(@prototype) %> |
<%= link_to 'Previous Versions', admin_prototype_page_page_versions_path(@prototype, @page) %> |
<%= link_to 'New Version', new_admin_prototype_page_page_version_path(@prototype, @page) %>

<%= render partial: "comments", object: @page_version %>
