<div class="prototype-grid">
  <% @prototypes.each do |prototype| %>
    <%= link_to(edit_prototype_path(prototype), class: "prototype") do %>
      <% if prototype.pages.any? %>
        <%= image_tag prototype.pages.first.image.url(:medium) %>
      <% else %>
        <%= image_tag "default_page.png" %>
      <% end %>
      <h2 class="prototype-name"><%= prototype.name %></h2>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Prototype', new_prototype_path %>
