<h1><%= @prototype.name %></h1>
<div class="page-grid">
  <% @prototype.pages.each do |page| %>

    <%= link_to(edit_prototype_page_path(@prototype, page), { :class => "page" }) do %>
      <%= image_tag page.image.url(:medium) %>
      <h2><%= page.name %></h2>
    <% end %>
  <% end %>
</div>
<%= link_to 'New Page', new_prototype_page_path(@prototype) %>
