<h1>Listing pages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prototype.pages.each do |page| %>
  <tr>
    <td><%= image_tag page.image.url(:medium) %></td>
    <td><%= link_to 'Show', [@prototype, page] %></td>
    <td><%= link_to 'Edit', edit_prototype_page_path(@prototype, page) %></td>
    <td><%= link_to 'Destroy', [@prototype, page], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_prototype_page_path(@prototype) %>
