<h2><%= @page.name %></h2>
<h3>
  Version <%= @page_version.version %>
  <% if @page_version.current? %>
    (Current)
  <% end %>
</h3>

<%= image_tag @page_version.image.url(:display) %>

<%= link_to 'Pages', admin_prototype_pages_path(@prototype) %> |
<%= link_to 'Edit Page', edit_admin_prototype_page_path(@prototype, @page) %> |
<%= link_to 'All Versions', admin_prototype_page_page_versions_path(@prototype, @page) %> |
<%= link_to 'New Version', new_admin_prototype_page_page_version_path(@prototype, @page) %>
<% if !@page_version.current? %>
  |
  <%= link_to 'Current Version', admin_prototype_page_path(@prototype, @page) %>
<% end %>

<%= render partial: "admin/page_versions/comments", object: @page_version %>
